body {
    margin: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* hier begint de stijl van de navigatie bar */
nav ul{
   margin: 0;
   padding: 0;
   list-style: none;
   border: #ffffff;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    font-family: "Constantia", Times, serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px;
    color: #ffffff;
    border-style: solid;
}

nav a:hover,
nav a:focus {
    color: #f7edd4;
}

nav a:active{
    background-color: rgb(199, 176, 134);
    transform: translateY(4px);
}

/* hier begint de stijl voor het motto */
.eye-catcher {
    color: white;
    font-size: 34px;
}

.motto {
    background-image: url(../Plaatjes/sneakers.jpg);
    background-size: cover;
    background-position: center;
    min-height: 56vh;
    font-family: "Constantia", Times, serif;
}

p {
    margin: 20px;
}

    section{
    padding: 200px;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    position: absolute;
    width: 100%;
    position: absolute
    
}

footer{
    align-content: center;
    text-align: center;
}

/* stijlen van de verschillende secties */
#sectionOne {
    background-size: cover;
    background-position: center;
    background-color: grey;
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
}

#sectionThree{
    background-size: cover;
    background-color: green;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    background-image: url(../Plaatjes/Header\ voeten.jpg);
}

#sectionFour{
    background-size: cover;
    background-color: pink;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

.divJs {
    border: 2px solid black;
    text-align: center;
    padding: 10%;
    background-color: lightgrey;
    background-size: cover;
    /* padding: 75px 150px 75px 150px; */
}

#inputOne{
    margin-top: 1em;
    height: 3em ;
    width: 100%;
   
}

#inputTwo{
    margin-top: 1em;
    height: 3em ;
    width: 100%;
}

#buttonOne img{
    height: 3em;
    width: 6em;
}

#buttonOne {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tweeInEen  {
    /* display: inline-block; */
}

.tweeInEen *{
    display: block;
}

@media screen and (max-width: 1520px) {
    /* #buttonOne {
      display: block;
      margin: auto;
      top: 0px;
    } */
  }
