body {
    margin: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* hier begint de stijl van de navigatie bar */
nav ul{
   margin: 0;
   padding: 0;
   list-style: none;
   border: #ffffff;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    font-family: "Constantia", Times, serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px;
    color: black;
    border-style: solid;
}

nav a:hover,
nav a:focus {
    color: #586046;
}

nav a:active{
    background-color: rgb(199, 176, 134);
    transform: translateY(4px);
}

/* .naviBlock {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
} */

/* hier begint de stijl voor het motto */
.eye-catcher {
    color: white;
    font-size: 34px;
    min-width: 100%;
    text-align: center;
}

.eye-catcher-bottom {
    text-align: end;
}

.motto {
    background-image: url(../Plaatjes/sneakers.jpg);
    background-size: cover;
    background-position: center; 
    min-width: 100%;
    font-family: "Constantia", Times, serif;
}

p {
    margin: 20px;
}

section{
    padding: 175px;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    position: absolute;
    width: 100%;
    position: absolute
    
}

footer{
    align-content: center;
    text-align: center;
}

/* stijlen van de verschillende secties */
#sectionOne {
    background-size: cover;
    background-position: center;
    background-color: grey;
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
}

#sectionThree{
    background-size: cover;
    background-color: green;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    background-image: url(../Plaatjes/Header\ voeten.jpg);
}

#sectionFour{
    background-size: cover;
    background-color: pink;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

.divJs {
    border: 2px solid black;
    /* text-align: center; */
    padding: 5%;
    background-color: lightgrey;
    /* background-size: cover; */
    /* padding: 75px 150px 75px 150px; */
}

.tweeInEen {
    text-align: center;
}

#inputOne{
    margin-top: 1em;
    height: 3em ;
    min-width: 50%;
    max-width: 50%;
}

#inputTwo{
    margin-top: 1em;
    height: 3em;
    min-width: 50%;
    max-width: 50%;
}

#buttonOne img{
    height: 3em;
    width: 6em;
}

#buttonOne {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* .tweeInEen  { */
    /* display: inline-block; */
/* } */

/* .tweeInEen *{ */
    /* display: block; */
/* } */

@media screen and (max-width: 1520px) {
     #buttonOne {
      display: block;
      margin: auto;
      top: 0px;
    }
  }

@media screen and (max-width: 750px) {
    #navigatie {
        display: block;
        margin: auto;
    }
}

/* Hier komt de code om de sidebar te maipuleren */
.naviBlock{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 130px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: darkgray; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .naviBlock a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
  }

  @media screen and (max-width: 750px) {
    .naviBlock {
        padding-top: 15px;
        width: 100px;
    }
    .naviBlock a{
        padding: 10px;
        font-size: 0.75em;
        border-color: black;
        color: black;
    }
  }

  @media screen and (max-width: 952px) {
      .eye-catcher-bottom{
          display: block;
          text-align: center;
        };
  }